/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 10px auto;
  max-width: 1050px;
  font-family: Arial, Helvetica, sans-serif;
}

/* *****************************************
     LAYOUT
 ***************************************** */
body {
  @media (max-width: 600px) {
    background-color: red;
  }
  @media (min-width:601px) and (max-width:1000px) {
    background-color: blue;
  }
  @media (max-width:1001px) {
    background-color: green;
  }
}
/* **************************************** 
      ADDITIONAL STYLES 
 ***************************************** */

/* header  */
header {
  display: flex;
  align-items: center;
  background-color: navajowhite;
}
header .main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#logo {
  flex: 0.1;
}
.logo-img {
  border-radius: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
nav {
  flex: 1;
}
nav ul li {
  font-size: 25px;
}
/* banner */
.banner {
  margin-top: 30px;
}

 .fav-deal {
  display: flex;
  align-items: center;
}
.fav-menu {
  margin-top: -40px;
}
h4 {
  text-align: center;
}
.about-us {
  padding: 15px 45px;
  line-height: 30px;
  justify-content: space-evenly;
  background-color: navajowhite;
  margin: 15px 2px 70px 80px;
}
.title-menu {
  text-align: center;
  background-color: navajowhite;
  padding: 10px;
  margin-top: -40px;
}
.first-menu,
.second-menu {
  display: flex;
  margin-top: 40px;
}
.first-one,
.first-second,
.first-third {
  height: 280px;
  width: 305px;
  justify-content: space-between;
  width: 26vw;
  margin: 0 2px;
}
.one,
.two,
.three {
  border: 1px solid black;
}
.card_caption {
  text-align: center;
}
footer ul {
  margin-top: 30px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  line-height: .8px;
}